<!DOCTYPE html>
<html>

<head>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&family=Delius&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="showbody">
  <%- include('../partials/header') %>
  
  <h1>Grocery List show page</h1>

  <div class="listbody">
    <% groceryList.forEach(function(m, idx) { %>
      <div>
       
        <div><a href="/<%= m._id %>"><%= m.name %></a></div>

        <div>
          <a href="/<%= m._id %>/edit">Edit</a>
        </div>
        <div>
          <form action="/groceries/<%= m._id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">Delete</button>
          </form>

        </div>
        
        


      </div>
    

      
    <br>
      <% }); %>

      
    </div>
  
    <article class="showButton">
      
       
        <h4><a href="/new">New Grocery List Title</a></h4>
        
      </article>

      <article class="showButton">
        
          
          <h4><a href="/creategrocery">Add New Grocery Item</a></h4>
        </article>
</body>

</html>
